
@import url(https://fonts.googleapis.com/css?family=Teko);

body{
    font-family: 'Teko', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}


.container{
    margin: 0;
    padding: 0;
    width: 100%;
}


.navbar{
    padding: 12px 12px 20px 12px;
    position: fixed;
    width: 100%;
    top: 0;
    background: transparent; 
    border-radius: 0;
    z-index: 1;
}

.tablink{
    display: inline-block;
    text-decoration: none; 
    background: none;;
    border: none;
    color: white; 
    margin-right: 13px; 
    margin-top: 5px; 
    font-size: 16px;
    float: right;
}

.tablink:hover{background: #4f4d4b; color: white; text-decoration: none; border: none}

.tablink.active{background: #4f4d4b; color: white; text-decoration: none; border: none}

.profile-photo{
   display: block;
   float: left; 
   margin-right: 30px;
}


#about-block{
    background-image: url("images/joshua_tree.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    top: 0;
}

#about{
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about-container{
    border: 2px solid #292a2b;
    border-radius: 5px;
}

#work-block{
    background: #292a2b;
    height: auto;
    top: 0;
}

#work-block img{
    box-shadow: 3px 3px 3px 5px #252628;
}

#resume-block{
    background: #ccd2e2;
    height: auto;
    top: 0;
}

#resume{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
    margin-bottom: 7%;
}


#first-column{
    background: #e2b4b3;
    box-shadow: 3px 4px #c5cad8;
    float: right;
    margin-bottom: 1%;
}

#second-column{
    background: #e89f7d;
    box-shadow: 3px 4px #c5cad8;
    float: right;
    margin-bottom: 1%;
}

#third-column{
    background: #c68596;
    box-shadow: 3px 4px #c5cad8;
    margin-left: 1%;
}

#skill-list ul, #experience-list ul{
    margin-right: 30px;
}

#skill-list ul li, #experience-list ul li{
    list-style: none;
    font-size: 20px;    
    text-align: right;
}

#contact-block{
    background: #292a2b;
    height: 500px;
    top:0;
}

#contact{
    position: relative;
    float: left;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    width: 50%;

}

.caption p{
    font-size: 16px;
    color: #a4d8db;
}