body{
    font-family: "Oswald", sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}


.container{
    margin: 0;
    padding: 0;
    width: 100%;
}


.navbar{
    padding: 12px 12px 20px 12px;
    position: fixed;
    width: 100%;
    top: 0;
    background: transparent; 
    border-radius: 0;
    z-index: 1;
}

.tablink{
    display: inline-block;
    text-decoration: none; 
    background: none;;
    border: none;
    color: white; 
    margin-right: 13px; 
    margin-top: 5px; 
    font-size: 16px;
    float: right;
}

.tablink:hover{background: #4f4d4b; color: white; text-decoration: none; border: none}

.tablink.active{background: #4f4d4b; color: white; text-decoration: none; border: none}

.profile-photo{
   display: block;
   float: left; 
   margin-right: 30px;
}


#about-block{
    background-image: url("images/joshua_tree.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    top: 0;
}

#about{
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about h1{
    text-align: center;
}

#about p{
    text-align: center;
}


#work-block{
    background: #292a2b;
    height: 800px;
    top: 0;
}

#work{
    max-height: 400px;
    max-width: 400px;
    position: relative;
    display: none;
}

.mySlides{
    display: none;
}



#preview-row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    margin-top: 100px;
}
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    max-width: 20%;
    padding: 0 4px;
}
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    max-height: 120px;
    max-width: 120px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 33%;
      max-width: 33%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }