
@import url(https://fonts.googleapis.com/css?family=Teko);

body{
    font-family: 'Teko', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1{letter-spacing: 3px}

p{letter-spacing: 2px}

ul li{letter-spacing: 1px}

.container{
    margin: 0;
    padding: 0;
    width: 100%;
}

.sidebar{
    padding: 5px 5px 5px 8px;
    position: fixed;
    height: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 0;
    z-index: 1;
    display: flex;
    align-items: center;
}

.sidebar:hover{
    background: rgba(0, 0, 0, 0.7); 
}

@media screen and (max-width: 771px) {
    .sidebar {
        display: none;
    }
    .sidebar-superior {
        display: block !important;
    }

}

.tab{vertical-align: middle}

.tablink{
    display: block;
    text-decoration: none; 
    background: none;;
    border: none;
    color: white; 
    margin-right: 13px; 
    margin-top: 5px; 
    font-size: 16px;
}

.tablink:hover{background: #4f4d4b; color: white; text-decoration: none; border: none}

.tablink.active{background: #4f4d4b; color: white; text-decoration: none; border: none}

#about-block{
    background-image: url("images/joshua_tree.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    top: 0;
    position: relative;
}

#about{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
 } 

 #about h1{line-height: 70%}

 #about h1{
     font-size: 13vh;
     text-align: center;
 }

 .center-button{
    vertical-align: middle;
 }

 #about ul li{display: inline; padding: 0}

 #about button{
     display: inline-block;
     margin: 10px;
     color: #564c46 ;
     background: rgba(255, 255, 255, .1);
     border: 2px solid #564c46;
     border-radius: 16px;
     font-size: 20px;
     padding: 8px 16px 8px 16px;
     letter-spacing: 2px;
 }
#about .flex {
    display: flex;
    justify-content: center;
  }

#work-block{
    background: #564c46;
    height: auto;
    top: 0;
}

#work-block img{box-shadow: 3px 5px #4f4540}

#work-block h1{color: #e2d9d0; text-align: center; font-size: 12vh; padding: 45px}

#work-block .col-md-2{padding: 0}

#work-block .thumbnail{background: none; border: none; margin: 1%}

#work-block .thumbnail:hover{opacity:.5}

#resume-block{
    background:linear-gradient(#d19292,#efb18b, #a4acb2);
    height: auto;
    top: 0;
}

#resume-block h1{color: #564c46; text-align: center; font-size: 12vh; padding: 45px}

#resume .row .col-md-6 .padded{
    background: rgba(0, 0, 0, 0.4);
    padding: 15px 15px 15px 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}

#resume .row{margin-left: 15%; margin-right: 15%;}

#resume .row .col-md-6 .padded ul{padding: 0}

#resume .row .col-md-6 .padded p, ul{
    color: #f2eeed;
    list-style: none;
    font-size: 4vh;
}

#resume .row .col-md-6 .padded p{
    color: #302d2d;
}

.progress{
    border-radius: 0;
    border: none;
    background: #514846;
}
.progress-bar{   
    text-align: left;
    font-size: 3.4vh;
    background: #635856;
    border-radius: none;
}

@media screen and (max-width: 771px) {

    #work-block h1{padding: 10px}

    #resume-block h1{padding: 10px;}

    #resume .row .col-md-6 .padded{
        padding: 5px 5px 5px 10px;
        margin-bottom: 5px;
    }

    #resume .row{
        margin-left: 3%;
        margin-right: 3%;
    }
}

#first-column{
    background: #e2b4b3;
    float: right;
    margin-bottom: 1%;
}

#second-column{
    background: #e89f7d;
    float: right;
    margin-bottom: 1%;
}

#third-column{
    background: #c68596;
    margin-left: 1%;
}

#skill-list ul, #experience-list ul{
    margin-right: 30px;
}

#skill-list ul li, #experience-list ul li{
    list-style: none;
    font-size: 20px;    
    text-align: right;
}

#contact-block{
    background: #564c46;
    height: 400px;
    top:0;
}

#contact{
    position: relative;
    float: left;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#contact-block h1{color: #e2d9d0; text-align: center; font-size: 12vh; padding: 45px}

#contact a{
    font-size: 4vw;
    color: pink;
}